/* PropertyDetails page styles */
.propertyDetails {
    padding: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.propertyContent {
    display: flex;
    gap: var(--spacing-lg);
}

@media (max-width: 1050px) {
    .propertyContent {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .propertyDetails {
        padding: var(--spacing-md);
    }
}