/* Button component styles */
.button {
    font-family: inherit;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: var(--font-size-sm);
    color: var(--color-text-light);
    border-radius: var(--border-radius-sm);
    transition: all 0.3s ease;
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Variants */
.primary {
    background-color: var(--color-accent-blue);
    color: var(--color-text-dark);
}

.primary:hover {
    background-color: var(--color-focus);
    border-color: var(--color-focus);
}

.secondary {
    background-color: transparent;
    border: 1px solid var(--color-border-default);
}

.secondary:hover {
    border: 1px solid var(--color-border-hover);
}

.filter {
    background-color: var(--color-bg-panel);
}

.filter:hover {
    border: 1px solid var(--color-filter-hover);
}

.active {
    background-color: var(--color-filter-active);
}

.active:hover {
    background-color: var(--color-filter-hover);
}

.closeCircle {
    background-color: var(--color-bg-panel);
    border: 0.5px solid;
    border-radius: var(--border-radius-circle);
    background-color: var(--color-bg-panel);
    padding: var(--spacing-xs);
    opacity: 0;
}

.closeCircle:hover {
    background-color: var(--color-filter-hover);
}

.button:focus-visible {
    border-color: var(--color-focus);
    outline: 0.5px solid var(--color-focus);
    outline-offset: 2px;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .button {
        height: var(--spacing-xxl);
    }

    .closeCircle {
        width: 24px;
        height: 24px;
    }

}