/* Button component styles */
.button {
    font-family: inherit;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-sm);
    transition: all 0.3s ease;
    padding: var(--spacing-sm) var(--spacing-md);
}

/* Variants */
.primary {
    background-color: var(--color-accent-blue);
    color: var(--color-text-light);
}

.primary:hover {
    background-color: var(--color-focus);
    border-color: var(--color-focus);
}

.secondary {
    background-color: transparent;
    color: var(--color-text-light);
    border: 1px solid var(--color-border-default);
}

.secondary:hover {
    border: 1px solid var(--color-border-hover);
}

.filter {
    background-color: var(--color-bg-panel);
    color: var(--color-text-light);
}

.filter:hover {
    border: 1px solid var(--color-filter-hover);
}

.active {
    background-color: var(--color-filter-active);
    color: var(--color-text-light);
}

.active:hover {
    background-color: var(--color-filter-hover);
}

.button:focus {
    border-color: var(--color-focus);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width: 768px) {
    .button {
        height: var(--spacing-xxl);
    }

}