/* SectionHeader component styles */
.header {
    width: 100%;
}

.title {
    font-size: var(--font-size-xxl);
    color: var(--color-text-light);
    text-align: center;
    margin-bottom: var(--spacing-md);
}

.subtitle {
    font-size: var(--font-size-base);
    color: var(--color-text-muted);
    text-align: center;
    margin-bottom: var(--spacing-xxl);
}

@media (max-width: 768px) {
    .title {
        font-size: var(--font-size-xl);
    }

    .subtitle {
        font-size: var(--font-size-sm);
        margin-bottom: var(--spacing-xxl);
    }
}