/* PropertyBookingPanel component styles */
.panel {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border: 1px solid var(--color-text-muted);
    border-radius: var(--border-radius-md);
    min-width: 350px;
    flex: 1;
}

.price {
    display: flex;
    align-items: baseline;
    font-size: var(--font-size-base);
    color: var(--color-text-light);
    font-weight: 700;
}

.priceUnit {
    font-size: var(--font-size-xs);
    color: var(--color-text-muted);
    font-weight: 400;
}

.inputGrupRow {
    display: flex;
    gap: var(--spacing-sm);
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 100%;
}

.label {
    color: var(--color-text-muted);
    font-size: var(--font-size-sm);

}

.input {
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sm);
    color: var(--color-text-light);
    background-color: var(--color-bg-card);
    width: 100%;
    transition: border-color 0.3s ease;
    cursor: pointer;
    color-scheme: dark;
    height: 2.3rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input::-webkit-calendar-picker-indicator {
    filter: brightness(0.75);
    cursor: pointer;
}

.input::-moz-calendar-picker-indicator {
    filter: brightness(0.75);
    cursor: pointer;
}

.input:focus {
    outline: none;
    border-color: var(--color-focus);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
}

.priceSummary {
    display: flex;
    flex-direction: column;
}

.priceItem {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-muted);
}

.priceTotal {
    font-weight: 700;
    color: var(--color-text-light);
}

.disclaimer {
    font-size: var(--font-size-xs);
    color: var(--color-text-muted);
    text-align: center;
}

@media (max-width: 768px) {
    .input {
        height: var(--spacing-xxl);

    }

    .buttons {
        gap: var(--spacing-md);
    }
}

@media (max-width: 480px) {
    .inputGrupRow {
        flex-direction: column;
    }

}