/* Profile page styles */
.profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
    padding: var(--spacing-xxl);
}

.profileContent {
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    margin: 0 auto;
}

@media (max-width: 768px) {
    .profile {
        padding: var(--spacing-md);
    }

    .profileContent {
        flex-direction: column;
    }
}