/* EditProfileForm component styles */
.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

@media (max-width: 768px) {
    .buttons {
        gap: var(--spacing-md);
    }
}