/* PropertyHeader component styles */
.header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.link {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: var(--spacing-xs);
    text-decoration: none;
    font-size: var(--font-size-sm);
    color: var(--color-text-muted);
    transition: color 0.3s ease;
}

.linkIcon {
    width: var(--icon-size-inline);
    height: var(--icon-size-inline);
    transition: transform 0.3s ease;
}

.link:hover {
    color: var(--color-text-light);
}

.link .linkIcon {
    transition: transform 0.3s ease;
}

.link:hover .linkIcon {
    transform: translateX(-2px);
}

.linkText {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.link:hover .linkText {
    border-bottom-color: var(--color-text-light);
}

.title {
    font-size: var(--font-size-xxl);
}

.meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-md);
}

.rating,
.host,
.location {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--color-text-muted);
    font-size: var(--font-size-sm);
}

.ratingIcon,
.hostIcon,
.locationIcon {
    width: var(--icon-size-inline);
    height: var(--icon-size-inline);
}

.ratingIcon {
    color: var(--color-accent-gold)
}

.ratingText,
.hostText {
    font-weight: 700;
}

.hostIcon {
    color: var(--color-accent-blue);
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: var(--border-radius-md);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .title {
        font-size: var(--font-size-xl);
    }

    .link {
        font-size: var(--font-size-md);
    }


}