/* PageHeader component styles */
.header {
    width: 100%;
    color: var(--color-text-light);
    text-align: center;
}

.title {
    font-size: var(--font-size-xxl);
    line-height: 1.2;
    margin-bottom: var(--spacing-md);
}

.subtitle {
    font-size: var(--font-size-lg);
}

.left {
    text-align: left;
}

@media (max-width: 768px) {
    .title {
        font-size: var(--font-size-xl);
    }

    .subtitle {
        font-size: var(--font-size-base);
    }
}

@media (max-width: 480px) {
    .subtitle {
        font-size: var(--font-size-sm);
    }
}