/* ResetPassword page styles */
.resetPassword {
    padding: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxl);
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    flex: 1;
}

@media (max-width: 768px) {
    .resetPassword {
        padding: var(--spacing-xl) var(--spacing-md);
        gap: var(--spacing-xl);
    }
}