/* Not found page styles */
.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    border: 1px solid var(--color-border-default);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-md);
    animation: rotateAfterDelay 1s ease-in-out forwards;
    max-width: 900px;
    width: 97%;
}

@keyframes rotateAfterDelay {

    0%,
    99% {
        rotate: 0deg;
    }

    100% {
        rotate: -3deg;

    }
}

.image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-md);
    margin-bottom: var(--spacing-md);
}

.link {
    font-size: var(--font-size-lg);
    color: var(--color-text-light);
    text-decoration: none;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md) var(--spacing-lg);
    text-align: center;
    display: block;
}

.link:hover {
    background-color: var(--color-bg-panel);
}

@media (max-width: 768px) {
    .wrapper {
        padding: var(--spacing-sm);
    }

    .image {
        margin-bottom: var(--spacing-sm);
    }
}